@inject AppTenant Tenant    
<footer class="app-footer">
    <span><a href="http://kiralikbul.net">Ideative</a> © 2017 ideative.</span>
    <ul class="bottom_ul copyright">
        <li><a href="/">Bakiyoruz.Net</a></li>
        <li><a href="/hakkimizda">Hakkımızda</a></li>
        <li><a target="_blank" href="http://kiralikbul.wordpress.com/">Blog</a></li>
        <li><a href="/sss">S.S.S.</a></li>
        <li><a href="/iletisim">İletişim</a></li>
        <li><a href="/site-haritasi">Site Haritası</a></li>
    </ul>
    <span class="ml-auto">Powered by <a href="http://bakiyoruz.net">Ideative</a></span>

    
</footer>
